@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Crucial';
  src: url('./fonts/Crucial-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-amber1 text-sand12;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none;
    margin: 0;
  }

  input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
  }

  input[type='time']::-webkit-datetime-edit-hour-field:focus,
  input[type='time']::-webkit-datetime-edit-minute-field:focus {
    @apply rounded-sm bg-blue text-white;
  }

  input[type='time'] {
    background-color: white;
  }

  input:focus,
  button:focus,
  a:focus {
    @apply outline-none ring-2 ring-blue;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
